import requests
import folium
from folium.plugins import FloatImage
from folium.map import Layer
import re
import csv
import os
import datetime
from flask import Flask
from flask import render_template
from flask import request
from flask_testing import TestCase
import unittest